.actusSpecificContainer {
    width: 100%;
    display: flex;
    justify-content: end;
    h4 {
        min-width: 80px;
        color: #43687a;
        font-weight: 600;
        text-align: end;
    }
    
    .actusTextContainer {
        border-bottom: #43687aa1 1px solid;
        padding-bottom: 40px;
        p {
            text-align: end;
            margin-bottom: 1px;
        }
    }

   
}