.mesCommandesContainer {
    width: 95%;
    min-height: 200px;
    padding: 8px 32px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);

    h3 {
        color: #43687a;
        font-weight: 600;
    }
}