.App {
    background-color: green;
    .row>* {
        padding: 0;
    }

    .topBar {
        background-color: #E9AC03;
        width: 100%;
        padding: 0.4%;
        height: 10vh;
        display: flex;
        position: fixed;
        align-items: center;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
        z-index: 10;

        img {
            height: 8vh;
        }
    }

    .mainContainer {
        display: flex;
        flex-direction: row;
        #mainNav {  
            height: 90vh;
            margin-top: 10vh;
            width: 100px;
            position: fixed;
            background-color: red;
            transition: width 0.5s ease-in-out;

            &.expandedNav {
                width: 300px;
            }
        }

        #mainInfo {
            min-height: 90vh;
            margin-top: 10vh;
            width: calc(100% - 100px);
            margin-left: 100px;
            background-color: white;
            transition: width 0.5s ease-in-out, margin-left 0.5s ease-in-out;

            &.reducedInfo {
                width: calc(100% - 300px);
                margin-left: 300px;
            }

            .navOpenImage {
                height: 32px;
                margin-top: 16px;
                margin-left: 16px;
                cursor: pointer;

                img {
                    height: 100%;
                    
                    &.navIsOpen {
                        transform: rotate(180deg);
                    }
                }
            }

            .buttonTest {
                width: 200px;
            }
        }
    }
}
